<h3>Display all the cheeses</h3>

<a href="/cheeses/new">New Cheese</a>


<table>
	<% @cheeses.each do | cheese | %>
	<tr>
		
		<td>
			<a href="/cheeses/<%= cheese.id%>">
			<%= cheese.name %>
			</a>
		</td>
		<td>
			<form action="/cheeses/<%= cheese.id %>/edit" method="get">
				<input type="submit" name="name" value="Edit">
			</form>
		</td>
		<td>
			<form action="/cheeses/<%= cheese.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit"  value="Delete">
			</form>
		</td>

	</tr>
	<% end %>
</table>
