<h2>Create a new cheese</h2>


<form action="/cheeses" method="post"> 
	<input type="text" name="cheese[name]" placeholder="...name">
	<input type="text" name="cheese[year]" placeholder="...year">
	<input type="submit" value="New cheese!">
</form>