<h2>Show a single cheeses</h2>
<h1>Yum</h1>

<a href="/cheeses">
All The Cheese
</a>

<h1>
	<%= @cheese.name %> is good.
</h1>

<form action="/cheeses/<%= @cheese.id %>/edit" method="get">
	<input type="submit" value="Edit">
</form>

<form action="/cheeses/<%= @cheese.id %>" method="post">
	<input type="submit" value="Eat/Delete">
</form>